<html>

    <%- include('../partials/head'); %>

    <body>

        <h1>TEXTO</h1>
        <header>
            <%- include('../partials/header'); %>
        </header>

        <h2 class="ajude">Ajude esta pessoa!</h2>
        <div class="card mb-3" style="max-width: 980px;">
            <div class="row g-0">
              <div class="col-md-4 img-demanda">
                <img src="imagens/usuario.png" alt="..." width="100%">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title">Nome da pessoa</h2>
                  <h4>Informações da pessoa:</h2>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti in minima culpa perferendis officia ad iste officiis consequatur qui natus. Repudiandae provident porro molestiae iusto, vero quo rem sapiente impedit.</p>
                  <h4>Necessidades:</h4>
                  <ul class="card-text">
                      <li>Item 1</li>
                      <li>Item 2</li>
                      <li>Item 3</li>
                      <li>Item 4</li>
                  </ul>
                  <a href="doacao.html" class="doar btn text-white" style="width: 200px;">Fazer Doação!</a>
                </div>
              </div>
            </div>
          </div>
    </section><!-- demandas -->

    <footer>
      <%- include('../partials/footer'); %>
  </footer>
</body>
</html>