<html>

    <%- include('../partials/head'); %>

    <body>

        <h1>TEXTO</h1>
        <header>
            <%- include('../partials/header'); %>
        </header>
        <section class="moderador-apresentacao">
            <h2>Moderador</h2>
            <p>Faça o bem sem olhar a quem!</p>
        </section>
    
       <section class="moderador-oqe">
           <div class="container">
               <secton class="mod-oqe">
                   <div class="mod-texto">
                       <h2>O que é um Moderador?</h2>
                       <p>Os moderadores são aqueles que irão oferecer ajuda as pessoas que moram na rua, acompanhando a situação delas e comunicando as suas necessidades.</p>
                   </div><!-- mod-texto -->
       
                   <div class="mod-img">
                       <img src="imagens/ajudando.jpg">
                   </div><!-- mod-img -->
               </secton><!-- mod-oqe -->
           </div>
        </section><!-- moderador -->
    
        <section class="moderador-comoser">
            <div class="container">
                <section class="mod-comoser">
                    <div class="mod-texto">
                        <h2>Como se tornar um Moderador?</h2>
                        <p>Tornar-se um Moderador é bem simples basta você clicar no botão ao lado para fazer o cadastro e depois disso você já estará apto a começar a fazer o bem!</p>
                    </div><!-- mod-texto -->
            
                    <div class="mod-botao">
                        <a href="cadastro-moderadores">Seja Um Moderador!</a>
                    </div>
                </section><!-- mod-comoser -->
            </div>
        </section><!-- moderador-comoser -->

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
</body>
</html>