<html>

    <%- include('../partials/head'); %>

    <body>

        <h1>TEXTO</h1>
        <header>
            <%- include('../partials/header'); %>
        </header>

        <section class="banner">
        <section class="home container">
            <div class="qs-container"><!-- qs = quem somos -->
                <h2>Quem Somos</h2> <br>
                 <p>Somos uma instituição que promove a reintegração de pessoas em situação de rua na sociedade.
                 Buscamos ressignificar à vida do público atendido, resgatando a autoestima e confiança, em cada indivíduo, e o sentimento de pertencimento 
                 a um grupo, reconhecendo seu papel, deveres e direitos na sociedade.</p>
            </div><!-- qs-container -->

            <div class="img-container">
                <img src="./imagens/homem_deitado.jpg">
            </div><!-- img-container -->

        </section><!-- home -->
    </section>
        
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>