<html>

    <%- include('../partials/head'); %>

    <body>

        <h1>TEXTO</h1>
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <section class="banner">

            <section class="home container">
                <div class="qs-container"><!-- qs = quem somos -->
                    <h2 >Eu te ajudo!</h2>
                    <p class="text-center">Cadastre-se em nosso site e ajude a cuidar dos moradores de rua do bairro de "Bela Vista"</p>
                    <a class="qs-link" href="/quemsomos" href="">Quem Somos</a>
                </div><!-- qs-container -->
    
                <div class="img-container">
                    <img src="./imagens/homem_deitado.jpg">
                </div><!-- img-container -->
            </section>
        </section>

        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>
            