*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.doacao-container{
    display: flex;
}

.doaco-apresentacao, .doacao-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doaco-apresentacao{
    width: 45%;
    height: 100vh;
    background-image:linear-gradient(#000000d3, #db2a2dce), url('../imagens/doacao.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
}

.doaco-apresentacao h2{
    font-size: 35px;
    color: white;
}

.doaco-apresentacao p{
    font-size: 20px;
    color: white;
    font-weight: 300;
}

.doaco-apresentacao a{
    color: white;
    text-decoration: none;
}

.doaco-apresentacao a:hover{
    text-decoration: underline;
}

.doacao-form{
    width: 55%;
    height: 100vh;
}

.doacao-form form{
    width: 90%;
}

.form-label{
    font-size: 20px;
}

@media screen and (max-width: 768px){
    .doacao-container{
        flex-direction: column;
    }

    .doaco-apresentacao, .doacao-form{
        width: 100%;
    }
}